<div class="youTubeVideoEditor">

    <h1  data-ng-if="!vm.entity.id">Create You Tube Video <span data-ng-if="vm.entity.name.length > 0">: {{ vm.entity.name }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit You Tube Video: {{ vm.entity.name }}</h1>

    <tabs tabs-name="you-tube-video-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="You Tube Video Name" data-ng-model="vm.entity.name" />
            </div>
        </tab-content>

    </tabs>

    <div>
        <calypso-button on-click="vm.addOrUpdate({ data: vm.entity })" caption="'Save'"></calypso-button>

        <calypso-button on-click="vm.create()" caption="'Create'"></calypso-button>
    </div>
</div>
