<div class="collections-feature-container">
    <h1>Collections</h1>

    <p>A curated sub collection of Angular Videos specific to a particular subject, such as RxJS, Security, etc...</p>

    <p>Curated by: Quinntyne Brown</p>

    <p>
        <a href="https://www.linkedin.com/in/quinntyne-brown-15830729" target="_blank">LinkedIn</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/QuinntyneBrown" target="_blank">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://twitter.com/Quinntyne" target="_blank">Twiiter</a>
    </p>

</div>