<div class="home-page">
    <flip-card data-ng-repeat="video in vm.videos" height="400px" width="280px" class="flip-card">
        <flip-card-front>
            <a href="#/youtubevideo/play/{{ video.youTubeVideoId }}">
                <img ng-src="http://img.youtube.com/vi/{{ video.youTubeVideoId }}/0.jpg" width="280" />
            </a>
            <div style="padding:15px;">
                <h1>{{ video.name }}</h1>
            </div>
        </flip-card-front>
        <flip-card-back>
            <a href="#/youtubevideo/play/{{ video.youTubeVideoId }}">Watch</a>
            <div style="padding-right:15px; padding-left:15px; color:#FFF;" ng-bind-html="video.description"></div>
        </flip-card-back>
    </flip-card>
    <div style="clear:both;"></div>
</div>