.header {
    height:73px;  
    padding-right:30px;
    margin-bottom:1px;
}

.header a:link, 
.header a {
    text-decoration:none;
    color:#333;
    padding-right:15px;
    font-weight:600;
    line-height:73px;
}

.header .logo, .header .links  {
    position:relative;
    float:left;
    height:73px;
}

.header .links {
    margin-left:30px;
}

.header .search {
    position:relative;
    float:right;
}
 