<div class="header">
    <logo href="#/" src="images/logo.png"></logo>

    <div class="links" data-ng-if="!vm.isAdmin()">
        <a data-ng-if="vm.currentUser" >{{ ::vm.currentUser.firstname }}</a>
    </div>

    <div class="links" data-ng-if="vm.isAdmin()">
        <a href="#/admin/youtubevideos">Videos</a>
        <a href="#/admin/speakers">Speakers</a>
        <a href="#/login">log out</a>
    </div>

    <image-button class="search" src="images/search.png" data-ng-click="vm.openSearchModal()"></image-button>

    <div class="user-links">
        <a href="#/">Videos</a>
        <a href="#/collections">Collections</a>
        <a href="#/about">About</a>
    </div>

    <div style="clear:both"></div>
</div>