<div class="header">    
    <logo href="#/" src="images/logo.jpg"></logo>

    <div class="links">
        <a href="#/">Speakers</a>
        <a href="#/">Talks</a>
        <a href="#/">Technologies</a>
    </div>

    <link-image class="search" src="images/search.png"></link-image>

    <div class="links" style="display:none;">
        <a data-ng-if="!vm.currentUser" href="#/login">Login</a>
        <a data-ng-if="!vm.currentUser" href="#/register">Register</a>
        <a data-ng-if="vm.currentUser" href="#/admin/youtubevideos">Videos</a>
        <a data-ng-if="vm.currentUser" data-ng-click="vm.openFeedbackModal()">Feedback</a>
        <a data-ng-if="vm.currentUser" href="#/login">log out</a>
    </div>

    <div style="clear:both"></div>
</div>