.header {
    height:73px;  
    padding-right:30px;
    margin-bottom:1px;
    background-color:#FFF;
    overflow:hidden;
}

.header a:link, 
.header a {
    text-decoration:none;
    color:#333;
    padding-right:15px;
    font-weight:600;
    line-height:73px;
}

.header .logo, .header .links  {
    position:relative;
    float:left;
    height:73px;
}

.header .links {
    margin-left:30px;
}

.header .search, .header .user-links {
    position:relative;
    float:right;
}

.header .search {
    margin-right:15px;
}

.header a.link-image-link:link, 
.header a.link-image-link {
    text-decoration:none;
    color:#333;
    padding:0;
    margin:0;
    line-height:0px;
    cursor:pointer;
}

.header img {
    border-width:0;
    border:none;
}
 