<div class="feedbackList">
    <div class="feedbackList-header">
        <h1>Feedbacks</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="feedbackList-item">
        <div class="feedbackList-name">
            {{ entity.name }}
        </div>
        <div class="feedbackList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
