<div class="registration">
    <h1>Registration</h1>

    <div>
        <input type="text" class="input-field" placeholder="Firstname" data-ng-model="vm.entity.firstname" />
    </div>

    <div>
        <input type="text" class="input-field" placeholder="Lastname" data-ng-model="vm.entity.lastname" />
    </div>

    <div>
        <input type="text" class="input-field" placeholder="Email" data-ng-model="vm.entity.emailAddress" />
    </div>

    <div>
        <input type="text" class="input-field" placeholder="Confirm Email" data-ng-model="vm.entity.confirmEmailAddress" />
    </div>

    <div>
        <input type="password" class="input-field" placeholder="password" data-ng-model="vm.entity.password" />
    </div>

    <calypso-button on-click="vm.tryToRegister()" caption="'Register'"></calypso-button>

</div>