.tab-title {
    display:inline-block;
    font-weight:100;
    padding-right:20px;
    padding-left:20px;
    height:75px;
    text-align:center;
    text-transform:uppercase;  
    font-size:1em;  
}

.tab-title.tabs-titleselected {
    font-weight:800;
}