<div class="about-container">
    <h1>Angular Videos</h1>

    <p>A curated collection of publically available Angular Videos</p>

    <p>Curated by: Quinntyne Brown</p>

    <p>
        <a style="text-decoration:none; color:#444;" href="https://www.linkedin.com/in/quinntyne-brown-15830729" target="_blank">LinkedIn</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a style="text-decoration:none; color:#444;" href="https://github.com/QuinntyneBrown" target="_blank">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a style="text-decoration:none; color:#444;" href="https://twitter.com/Quinntyne" target="_blank">Twitter</a>
    </p>
</div>